<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarLeftAlignExample"
        aria-controls="navbarLeftAlignExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Authentication cell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="/interview/add-interview">Add new Interview</a>
              </li>
              <li>
                <a class="dropdown-item" href="/student/add-student">Add new Student</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="/profile"> Profile </a>
              </li>
            </ul>
          </li>
          
        </ul>
        <%if(locals.user){%>
          <div class="d-flex align-items-center">
            <a href="/sign-out"><button type="button" class="btn btn-danger px-3 me-2">
              Log-out
            </button></a>
            <a href="/download"><button type="button" class="btn btn-primary me-3">
              Download report
            </button></a> 
        </div>
          <%}else{%>
            <!-- Left links -->
        <a href="/log-in"><div class="d-flex align-items-center">
          <button type="button" class="btn btn-link px-3 me-2">
            Login
          </button></a> 
          <a type="button" href="/" class="btn btn-primary me-3">
            Sign up for free
          </a>
      </div>
            <%}%>
        
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>